<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>skywinapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABC3BDB51CF9EBD000281E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC3BDC91CF9EBD000281E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC3BDD41CF9EBD000281E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
